@model List<NW.Model.Product>
@*@model WA1.ViewModels.InformeViewModel*@

@{
    ViewBag.Title = "Home Page";
}

<form method="post">
    <input type="search" name="filtro" placeholder="Digite aquí" />
</form>

@if (Model != null && Model.Count() > 0)
{
    <ul>
        @foreach (var p in Model)
        {
            <li>@p.ProductName</li>
        }
    </ul>
}

@ViewBag.datos = "";
@ViewData["datos"] = "";