@using WA1.ViewModels
@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<br />
<form method="post">
    <input type="search" name="filtro" value="@Model.Filtro" />
    <button>Buscar</button>
</form>

<br />
@if (Model.Productos.Count > 0)
{
    <ul>
        @foreach (var p in Model.Productos)
        {
            <li>@p.ProductName</li>
        }
    </ul>
}
else
{
    <p>No hay resultados</p>
}